<div class="hero-unit">
  <h1>Welcome to Tyler's Awesome Website!</h1>
  <p>You've found the homepage for me, Tyler</p>
  <p>
    <a class="btn btn-primary btn-large"; href="http://facebook.com/tylermhill">
      My Facebook
    </a>
  </p>
</div>

<p>
	<%=link_to "Sign Up Now!", "#"%>
</p>
